/* 


How to do full width for the nav elemnt boxes? > set the auto margin to 0
Whats Nav Switch doing? 
How to target the link of first_step?


*/




body {
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    
.container {
    margin: 0 auto; /*because like this there s no margin top and bottom but will fit well to the sides*/
    max-width: 1400px;
}

#siteNav {
    background-color: white;
    display: relative;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
  }

#siteNav ul{
    padding:0;
    margin:0;
}

#siteNav ul li {
  list-style: none;
}


#siteNav ul li a {
    color: black;
    display: block;
    font-family: 'Roboto Slab', serif;
    font-weight:bold;
    font-size: 20px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-out;
  }

  #siteNav ul li:first-child a {
    background-color:#99CA68;
  }

  #siteNav ul li:nth-child(2) a {
    background-color:#BCD68D;
  }

  #siteNav ul li:nth-child(3) a {
    background-color:#CFDF94;
  }

  #siteNav ul li:nth-child(4) {
    background-color:#80BF8B;
  }


  #siteNav ul li a:hover {
    background-color:#6CAC82;
    color: white;
  }


section {
    border: 3px solid red;
    height: 100vh;
    position:relative;
}


/*div.hero h1 {
background-color:red;
width:300px;
height:300px;
display:block;
}*/

@media screen and (min-width: 801px) {
    #siteNav {
      left: 0;
      top: 50%;
      position: fixed;
      width: 150px;
      transform: translateY(-50%);
    }
}

.hero{
    background-color:lightgreen;
    min-width:600px;
    width:50%;
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.hero h1{
    color:white;
    display: block;
    font-family: 'Roboto Slab', serif;
    font-weight:600;
    font-size: 48px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
}

.hero p{
    color:white;
    display: block;
    font-family: 'Roboto Slab', serif;
    font-weight:400;
    font-size: 32px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
}

.teaser {
    background-color:#F07060;
    color:white;
    font-family: 'Roboto Slab', serif;
    font-weight:400;
    font-size: 24px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:-130px;

}

.textbox{
    padding:2px;
    min-width: 600px;
    width: 40%;
    max-width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.textbox h2{
    color:lightgreen;
    background-color:white;
    font-family: 'Roboto Slab', serif;
    font-size:48px;
    font-weight:800;
    left:0;
    top: -100px;
    margin-bottom:0;
    position: absolute;
    margin-top:0;
    display:inline-block;
    padding:0px 20px;

}

.textbox p {
    color:rgb(49, 49, 49);
    margin-bottom:0;
    margin-top:0;
    padding:20px;
    background-color:white;
    font-family: 'Roboto Slab', serif;
    min-width:600px;
    width:40%;
    max-width: 800px;
}

#yourturn h3{
    color:white;
    background-color:lightgreen;
    font-size:36px;
    width:30px;
    text-align: center;
    padding: 10px 5px;
}

#yourturn .textbox p {
    color:white;
    background-color:lightgreen;
    width: auto;
    min-width: auto;
}


#yourturn .step_holder {
    display:flex;
    align-items: stretch;
    justify-content: space-between;
} 

#yourturn .step {
    position:relative;
    width: calc(50% - 20px);
}

#yourturn .step .headline {
    display:flex;
    background-color: lightgreen;
    align-items: stretch;
}

#yourturn .step .headline > * {
    margin: 0;
}

.first_step a {
    margin-top: 150px;
}

.second_step {
    margin-top:50px;
}

#impactAreas {
    position:absolute;
    left: calc(100% + 50px);
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding:0;
    list-style: none;
}

#impactAreas li a {

    padding: 15px;
    margin:5px;
    background-color: rgba(255,255,255, .5);
    color: black;
    text-decoration: none;
    display: block;
    font-family: 'Roboto Slab', serif;
    font-weight:bold;
    font-size: 20px;
    padding: 15px 15px;
    text-align: center;
    transition: all 0.2s ease-out;
}

#impactAreas ul li:first-child a {
    background-color:rgb(153, 202, 104, .7);
  }

/*.intro .textbox{
    background-color:white;
    font-family: 'Roboto Slab', serif;
    min-width:600px;
    width:40%;
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding:0;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.textbox h2{
    color:#99CA88;
    font-size:36px;
    margin-bottom:6px;
    margin-top:0;
    padding:2px;
}

.textbox p{
    color:rgb(49, 49, 49);
    margin-bottom:0;
    margin-top:0;
    padding:2px;
} */
